<template>
    <div class="header-box">
        <div class="h1-box">
            <h1>User info:</h1>
        </div>
        <div class="button-box">
            <button class="button" id="button-delete" @click="this.deleteUser">Delete {{ this.form.username }}</button>
        </div>
    </div>
    <div>
        <form class="form-box" action="#" @submit.prevent="this.postNewUserInfo">
            <div class="left-div-box">
                <label>Username</label>
                <input type="text" v-model="this.form.username">
                <label>Firstname</label>
                <input type="text" v-model="this.form.firstname">
                <label>Surname</label>
                <input type="text" v-model="this.form.surname">
                <label>Email</label>
                <input type="text" v-model="this.form.email">
            </div>
            <div class="right-div-box">
                <div>
                    <label>Gender</label><br>
                    <select v-model="this.form.gender">
                        <option value="muž">muž</option>
                        <option value="žena">žena</option>
                        <option value="x-men">x-men</option>
                    </select>
                </div>
                <div>
                    <label>Birtdate</label>
                    <input type="text" v-model="this.form.birthdate" onfocus="(this.type='date')">
                </div>
                <div>
                    <label>Role</label><br>
                    <select v-model="this.form.role">
                        <option value="užívateľ">užívateľ</option>
                        <option value="admin">admin</option>
                    </select>
                </div>
                <div class="button-box">
                    <button class="button" id="button-save">Save</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        id: "",
        username: "",
        firstname: "",
        surname: "",
        email: "",
        gender: "",
        birthdate: "",
        role: "",
      },
    }
  },
  computed: {
      getUsername() {
        return {username: this.$store.getters.getUsername};
      },
  },
  methods: { 
    getUserInfo() {
      axios.post("/user", this.getUsername)
        .then(resp => {
          this.form.id = resp.data.data.id;
          this.form.username = resp.data.data.username;
          this.form.firstname = resp.data.data.firstname;
          this.form.surname = resp.data.data.surname;
          this.form.email = resp.data.data.email;
          this.form.gender = resp.data.data.gender;
          this.form.birthdate = this.makeBirthDate(resp.data.data.birthdate);
          this.form.role = resp.data.data.role;
        })
        .catch(err => {
          console.log(err);
        });
    },
    makeBirthDate(dateDate) {
        var objDate = new Date(dateDate);
        var month = objDate.getUTCMonth() + 1; //months from 1-12
        var day = objDate.getUTCDate();
        var year = objDate.getUTCFullYear();
        return month + "/" + day + "/" + year;
    },
    postNewUserInfo() {
      this.form.birthdate = new Date(this.form.birthdate);
      axios.post("/update-user", this.form)
        .then(resp => {
          if (resp.data.success === true) {
            this.$router.push("/");
          }
        })
    },
    deleteUser() {
      axios.delete("/delete-user/" + this.form.id)
        .then(() => {
          this.$store.dispatch("LogOutUser").then(() => {
            this.$router.push("/");
          })
          .catch(err => {
            console.log(err);
          });
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.getUserInfo();
  },
};
</script>

<style scoped>
.header-box {
  display: inline-flex;
  width: 40%;
  padding: 1em;
  margin: 1em 1em;
  background: #f4f5f5;
  border-radius: 2em;
  text-align: center;
}

.h1-box {
  width: 50%;
  text-align: center;
}

.form-box {
  display: inline-flex;
  justify-content: center;
  width: 40%;
  padding: 1em;
  background: #f4f5f5;
  border-radius: 2em;
  text-align: left;
}

.left-div-box {
  width: 50%;
  padding: 0 1em;
  padding-left: 3em;
  margin: 0 auto;
}

.right-div-box {
  width: 50%;
  padding: 0 1em;
  margin: 0 auto;
}


h1 {
  color: #2c3e50;
  text-align: center;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 2em 0 1em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}

select {
  width: 90%;
  padding: 1em 2em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
  color: #2c3e50;
  text-align: center;
}

input {
  display: block;
  text-align: center;
  width: 90%;
  padding: 1em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  color: #2c3e50;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
}

input:focus {
  outline: none;
  border: 0.1em solid #42b983;
}

input[type="date"] {
  display: block;
  width: 90%;
  text-align: center;
  padding: 1.5em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
  color: #2c3e50;
}

.button {
  padding: 1em 3em;
  font-size: 1em;
  border: none;
  font-weight: bold;
  border-radius: 1em;
}

#button-delete {
  color: #e1e2e2;
  background: rgb(230, 16, 16);
}

#button-save {
  color: #e1e2e2;
  background: #42b983;
  margin-top: 3em;
}

.button-box {
  text-align: center;
  margin: auto;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
</style>
