<template>
  <div class="login-box">
    <h1>Login</h1>
    <form class="form-box" @submit.prevent="submitForm">
      <div class="sub-form-box">
        <label>Username</label>
        <input type="text" v-model="form.username" />
      </div>
      <div class="sub-form-box">
        <label>Username</label>
        <input type="text" v-model="form.password" />
      </div>
      <div class="button-box">
        <button type="submit">Sign in</button>
        <div class="a-box">
        <a href="#"><router-link to="/registration">Registration?</router-link></a>
        </div>
      </div>
    </form>
  </div>
  <div class="error-box" v-if="!isError">
    <a href="#" @click="this.exitErrorMsg">Wrong login name or password!</a>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
    };
  },
  computed: {
    isError() {
      return this.$store.getters.isErrorMsg;
    },
  },
  methods: {
    exitErrorMsg() {
      this.$store.dispatch("ErrorMsg", {'success': false});
    },
    submitForm() {
      try {
        this.$store.dispatch("LogInUser", this.form).then(() => {
          if (this.isError === true) {
            this.$router.push("/");
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.img-box {
  text-align: center;
  border-radius: 1em;
}

.login-box {
  max-width: 15em;
  padding: 1em 7em;
  margin: 3em auto;
  background: #f4f5f5;
  border-radius: 2em;
  text-align: left;
}

h1 {
  color: #2c3e50;
  text-align: center;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 2em 0 1em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  color: #2c3e50;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
}

input:focus {
  outline: none;
  border: 0.1em solid #42b983;
}

button {
  background: #42b983;
  border: 0;
  padding: 1em 3em;
  margin-top: 3em;
  color: #e1e2e2;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1em;
}

.button-box {
  text-align: center;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.error-box {
  width: 30%;
  margin: 0 auto;
  border-radius: 1.5em;
  padding: 2em;
  margin-top: 1em;
  background: rgb(230, 16, 16);
}

.error-box a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #e1e2e2;
}

.error-box a:focus {
  color: #2c3e50;
}

.a-box {
  padding-top: 1em;
}

a { 
  text-decoration: none;
  font-style: italic;
  color: #2c3e50;
}
</style>
