<template>
    <div class="header-box">
        <h1>Registration</h1>
    </div>
    <div>
        <form class="form-box" action="#" @submit.prevent="this.createUser">
            <div class="left-div-box">
                <label>Username</label>
                <input type="text" v-model="this.form.username">
                <label>Firstname</label>
                <input type="text" v-model="this.form.firstname">
                <label>Surname</label>
                <input type="text" v-model="this.form.surname">
                <label>Email</label>
                <input type="text" v-model="this.form.email">
            </div>
            <div class="right-div-box">
                <div>
                    <label>Password</label>
                    <input type="text" v-model="this.form.password">
                </div>
                <div>
                    <label>Gender</label><br>
                    <select v-model="this.form.gender">
                        <option value="muž">muž</option>
                        <option value="žena">žena</option>
                        <option value="x-men">x-men</option>
                    </select>
                </div>
                <div>
                    <label>Birtdate</label>
                    <input type="text" v-model="this.form.birthdate" onfocus="(this.type='date')">
                </div>
                <div class="button-box">
                    <button class="button" id="button-save">Create</button>
                </div>
            </div>
        </form>
        <div class="error-box" v-if="this.error">
          <a href="#" @click="this.exitErrorMsg">Username already exists!</a>
        </div>
    </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        username: "",
        firstname: "",
        surname: "",
        email: "",
        gender: "",
        birthdate: "",
        role: "",
        password: "",
      },
      error: false,
    }
  },
  methods: {
    exitErrorMsg() {
      this.error = false;
    },
    postData() {
      axios.post("/registration", this.form)
        .then((resp) => {
          if (resp.data.success === true) {
            this.$router.push("/login");
          }
          else {
            this.error = false;
          }
        })
        .catch(() => {
          console.log("No create!");
        });
    },
    createUser() {
      axios.post("/check-username", this.form)
        .then((resp) => {
          if (resp.data.success === false) {
            console.log(resp.data);
            this.postData();
          }
          else {
            this.error = true;
          }
        });
    },
  },
};
</script>

<style scoped>
.header-box {
  width: 40%;
  padding: 0.3em 1em;
  margin: 1em auto;
  background: #f4f5f5;
  border-radius: 2em;
  text-align: center;
}

h1 {
  text-align: center;
}

.form-box {
  display: inline-flex;
  justify-content: center;
  width: 40%;
  padding: 0.5em 1em;
  background: #f4f5f5;
  border-radius: 2em;
  text-align: left;
}

.left-div-box {
  width: 50%;
  padding: 0.5em 1em;
  padding-left: 3em;
  margin: 0 auto;
}

.right-div-box {
  width: 50%;
  padding: 0.5em 1em;
  margin: 0 auto;
}

h1 {
  color: #2c3e50;
  text-align: center;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 2em 0 1em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}

select {
  width: 90%;
  padding: 1em 2em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
  color: #2c3e50;
  text-align: center;
}

input {
  display: block;
  text-align: center;
  width: 90%;
  padding: 1em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  color: #2c3e50;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
}

input:focus {
  outline: none;
  border: 0.1em solid #42b983;
}

input[type="date"] {
  display: block;
  width: 90%;
  text-align: center;
  padding: 1.5em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
  color: #2c3e50;
}

.button {
  padding: 1em 3em;
  font-size: 1em;
  border: none;
  font-weight: bold;
  border-radius: 1em;
}

#button-save {
  color: #e1e2e2;
  background: #42b983;
  margin-top: 3em;
}

.button-box {
  text-align: center;
  margin: auto;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.error-box {
  width: 40%;
  margin: 0 auto;
  border-radius: 1.5em;
  padding: 2em;
  margin-top: 1em;
  background: rgb(230, 16, 16);
}

.error-box a {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  color: #e1e2e2;
}

.error-box a:focus {
  color: #2c3e50;
}
</style>
