<template>
  <div class="login-box">
    <h1>SQL DROP</h1>
    <form @submit.prevent="sendMark">
      <div>
        <label>Username</label>
        <input type="text" v-model="data.mark" />
      </div>
      <div class="button-box">
        <button type="submit">Sign in</button>
      </div>
      <div class="sub-form-box">
        <p>{{ this.msg }}</p>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      data: {
        mark: "",
      },
      msg: ""
    }
  },
  methods: {
    sendMark() {
      axios.post("/drop-table", this.data)
        .then(resp => {
          if (resp.data.success === true) {
            this.msg = resp.data.msg;
          }
          else {
            this.msg = false;
          }
        })
    }
  }
};
</script>

<style scoped>

.login-box {
  max-width: 15em;
  padding: 1em 7em;
  margin: 3em auto;
  background: #f4f5f5;
  border-radius: 2em;
  text-align: left;
}

input {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  box-sizing: border-box;
  border-radius: 0.8em;
  color: #2c3e50;
  font-weight: bold;
  font-size: 1em;
  background: #e1e2e2;
}

input:focus {
  outline: none;
  border: 0.1em solid #42b983;
}

button {
  background: #42b983;
  border: 0;
  padding: 1em 3em;
  margin-top: 3em;
  color: #e1e2e2;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1em;
}

.button-box {
  text-align: center;
}
</style>
