<template>
  <header>
    <div class="logo-box">
      <img alt="Vue logo" src="../assets/vut-logo.jpg" height="50" />
      <p><router-link to="/">Movie review</router-link></p>
    </div>
    <div class="nav-box center-ul-box">
      <ul>
        <li></li>
        <li v-if="isLoggedIn"><router-link to="/movies">Movies</router-link></li>
        <li v-if="isLoggedIn"><router-link to="/sql-drop">SQL drop</router-link></li>
      </ul>
    </div>
    <div class="nav-box right-ul-box">
      <ul>
        <li v-if="!isLoggedIn"><router-link to="/login">Login</router-link></li>
        <li v-if="isLoggedIn"><router-link to="/user">{{ this.getUser }}</router-link></li>
        <li v-if="isLoggedIn"><a href="#" type="button" @click="logoutBtn">Logout</a></li>
      </ul>
    </div>
  </header>
</template>

<script>
export default {
  computed: {
    isLoggedIn () {
      return this.$store.getters.isAuthenticated;
    },
    getUser() {
      return this.$store.getters.getUsername;
    },
  },
  methods: {
    logoutBtn() {
      this.$store.dispatch("LogOutUser");
      this.$router.push("/");
    }
  }
}
</script>


<style scoped>
header {
  display: inline-flex;
  width: 100%;
  border-radius: 1em;
  background-color: #42b983;
}

.logo-box {
  display: inline-flex;
  width: 100%;
}

.center-ul-box {
  width: 100%;
  margin: auto;
  margin-right: 1em;
}

.right-ul-box {
  width: 100%;
  margin: auto 0;
  text-align: right;
}

ul {
  list-style: none;
}

ul li {
  display: inline-flex;
  margin-right: 1em;
}

span {
  font-weight: bold;
  color: #eee;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #eee;
}

a.router-link-exact-active {
  color: #2c3e50;
}

img {
  margin: 1em;
  border: none;
  border-radius: 0.3em;
}

p {
  color: #2c3e50;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  margin: auto 0;
}
</style>
